.Container {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  height: 62px;
  justify-content: space-between;
}

.Container-Logo {
  margin-left: 30px;
  margin-right: 30px;
  width: 600px;
}

.Container-Items {
  margin-left: 30px;
  margin-right: 30px;
  width: 600px;
}

.Hamburguer-button {
  display: none;
}

.UnOrderedList {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.UnOrderedList a {
  text-decoration: none;
  color: black;
}

.Show-Sections {
  display: none;
}

@media screen and (max-width: 640px) {
  .Container-Items {
    display: none;
  }

  .Hamburguer-button {
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
    margin-right: 30px;
    width: 600px;
  }

  .Show-Sections {
    display: flex;
  }
}
